// Variables .... 
// ------------------------------------------------------------------
// ------------------------------------------------------------------
// Start All Variables .... 
// var for  Colors ... 
$redColor:  #E2494C;
$grayColor: #9C9C9C;

// ------------------------------------------------------------------
// ------------------------------------------------------------------
// var for  font-size for buttons ... 
$mainButtonSize: 40px;
// ------------------------------------------------------------------
// variables for Media Query  ... 
// for Mobile ...  [Small]
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";

// for Hover ... 
$hoverColor: #DDD;
// ------------------------------------------------------------------
// for Direction ... 
$floatLeft: left;
$floatRight: right;
// ------------------------------------------------------------------
// ------------------------------------------------------------------
// for bullets ... 
$bulletsColor: #d1d1d1;
// for active .. 
$activeBullets:#333;
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// For Footer .. 
$backgroundFooter: #e2e2e2;
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// for text right ... 
$textRight: right;
$textLeft: left;



// End   All Variables .... 