// -------------------------------------------------------------------
// -------------------------------------------------------------------
// Start Global page ... 
body
{
    background-color: #f6f6f6;

    font: {
        family: Tahoma;
        size: 16px
    }

    html {scroll-behavior: smooth;}

    ul , ol {list-style-type: none; padding-left: 0; padding-right: 0;}

    a {text-decoration: none;}
    
    
}
// End   Global page ... 
// -------------------------------------------------------------------
// -------------------------------------------------------------------